<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StarverHomeServlet</servlet-name>
        <servlet-class>FoodStarver.StarverHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StarverRestSearchServlet</servlet-name>
        <servlet-class>FoodStarver.StarverRestSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StarverRegistServlet</servlet-name>
        <servlet-class>FoodStarver.StarverRegistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StarverHomeServlet</servlet-name>
        <url-pattern>/StarverHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StarverRestSearchServlet</servlet-name>
        <url-pattern>/StarverRestSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StarverRegistServlet</servlet-name>
        <url-pattern>/StarverRegistServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
